snippet scdn "shellcheck source=/dev/null" b
# shellcheck source=/dev/null
endsnippet

snippet scundir "shellcheck DIR is unused" b
# SC2034: DIR appears unused. Verify use (or export if used externally).
endsnippet

snippet scdis "shellcheck disable=" b
# shellcheck disable=
endsnippet
